@font-face {
  font-family: 'oswald-bold';
  src: url('./FONTS/Oswald-Bold.ttf') format('ttf');
}
@font-face {
  font-family: 'oswald-extralight';
  src: url('./FONTS/Oswald-ExtraLight.ttf') format('ttf');
}
@font-face {
  font-family: 'oswald-light';
  src: url('./FONTS/Oswald-Light.ttf') format('ttf');
}
@font-face {
  font-family: 'oswald-medium';
  src: url('./FONTS/Oswald-Medium.ttf') format('ttf');
}
